
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet',href='/page.styl')
    script(src='/client.coffee',type='text/coffeescript')
    script(src='/socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery-1.7.1.min.js')
    script(src='http://coffeescript.org/extras/coffee-script.js')
  body
    nav#text
    nav#input
    nav#selector